@import "../../styles/variables.scss";
.post-list {
  display: grid;
  justify-content: space-between;
  grid-gap: 6vmin 4vmin;
  @media (min-width: 769px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  padding: 3vmin 0 8vmin;
}

.header {
  display: flex;
  h3 {
    max-width: 80%;
  }
  p {
    margin: 0 0 0 auto;
    font-size: 14px;
  }
}
.card-link {
  & > a {
    * {
      min-height: 258px;
      max-height: 258px;
      img {
        border-radius: 8px;
      }
    }
  }
  a {
    p {
      line-height: 1.3;
      color: #465a69;
      font-size: 16px;
      margin: 16px 0;
    }
  }
}
.card-content {
  margin-top: 24px;
  .badge-wrap {
    display: flex;
    list-style: none;
    margin: 0 0 8px 0;
    gap: 12px;
    li {
      margin: 0;
      gap: 8px;
      a {
        display: inline-block;
        padding: 4px 8px;
        color: #465a69;
        text-decoration: none;
        font-size: 0.75rem;
        line-height: 1;
        letter-spacing: 0.3px;
        font-weight: 600;
        background-color: #e3e5e7;
        border-radius: 2px;
        &:hover {
          color: #fff;
          background-color: #2c4bff;
        }
      }
    }
  }
  .card-meta {
    justify-content: flex-start;
    color: #465a69;
    margin: 12px 0;
    font-size: 16px;
    display: flex;
    gap: 16px;
  }
  .reading-time {
    position: relative;
    &::before {
      width: 3px;
      height: 3px;
      border-radius: 3px;
      content: "";
      position: absolute;
      left: -9px;
      top: 9px;
      background-color: #636363;
    }
  }
}
.load-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e5e7;
    gap: 6px;
    padding: 6px 16px;
    font-size: 17px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    svg {
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      color: $white;
      background-color: #2c4bff;
      svg {
        stroke: $white;
      }
    }
  }
}
