.head {
  position: relative;
  background: inherit;
  transition: all 0.3s ease;
  box-shadow: none;
  border-bottom: 1px solid #e3e5e7;
  @media (max-width: 768px) {
    min-height: 216px;
  }
  @media (max-width: 480px) {
    min-height: 156px;
  }
  nav {
    padding: 0 4vmin;
    max-width: 1248px;
    margin: 0 auto;
    position: relative;
    display: flex;
    min-height: 96px;
    @media (max-width: 768px) {
      min-height: 90px;
    }
    @media (max-width: 480px) {
      min-height: 64px;
    }
  }
  &-inner {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-flow: row dense;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  &-brand {
    grid-column-start: 1;
    display: flex;
    align-items: center;
  }
  &-blog-name {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
    padding-top: 3px;
    letter-spacing: 0.5px;
  }

  &-logo {
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  span {
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
