@import "../../styles/variables.scss";
.head {
  position: relative;
  background: inherit;
  transition: all 0.3s ease;
  box-shadow: none;
  border-bottom: 1px solid #e3e5e7;

  nav {
    padding: 0 4vmin;
    max-width: 1248px;
    margin: 0 auto;
    position: relative;
    display: flex;
    min-height: 96px;
    @media (max-width: 767px) {
      padding: 4vmin;
    }
  }
  .navigation {
    a {
      font-size: 16px;
      font-weight: 600;
      &:hover {
        color: $blue-bright;
      }
    }
  }
  &-inner {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 12px;
    }
  }
  &-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 768px) {
      width: calc(100% - 377px);
    }
    .logo {
      display: flex;
      align-items: center;
    }
  }
  &-blog-name {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
    padding-top: 3px;
    letter-spacing: 0.5px;
  }

  &-logo {
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2em;
  }

  a {
    color: $black;
    text-decoration: none;
  }
  span {
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
