@import "../styles/variables.scss";

.bio {
  margin: 1em 0;
  font-size: 16px;
  display: flex;
  &.pinned {
    a {
      color: $blue-bright;
      font-weight: 500;
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 0;
    color: $gray-dark;
  }
}
.card-author-image {
  display: block;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  overflow: hidden;
}
.card-author {
  width: fit-content;
}
