.meme-page {
    .page-header {
        margin-bottom: 32px;
        h2 {
            margin: 0 0 12px;
        }
        p {
            margin: 0;
            color: #465a69;
        }
    }
    .container {
        // Mobile-first column count, we'll add responsive styles in a bit
        column-count: 1;
        column-gap: 24px;
        column-fill: balance;
        .item {
            position: relative;
            display: inline-block;
            margin: 0 0 20px;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            width: 100%;
            background: #000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.16);
            border-radius: 12px;
            img {
                width: 100%;
                height: auto;
                border-radius: 12px;
                transition: all 0.3s ease-in-out;
                position: relative;
                z-index: 1;
            }
            &:hover {
                .shareWidget {
                    display: block;
                }
                & > img {
                    opacity: 0.56;
                }
            }
        }

        // Add your media query breakpoints for when to expand the columns
        @media (min-width: 767px) {
            column-count: 1;
        }
        @media (min-width: 900px) {
            column-count: 2;
        }

        @media (min-width: 1200px) {
            column-count: 3;
        }
    }
    .shareWidget {
        position: absolute;
        bottom: 20px;
        right: 24px;
        z-index: 2;
        display: none;
        input[type="checkbox"] {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            &:checked {
                & ~ ul {
                    display: block;
                }
            }
            &:hover {
                & ~ .button {
                    background-color: #008ecf;
                    span {
                        color: #fff;
                    }
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        .button {
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            border-radius: 2px;
            min-height: 32px;
            padding: 4px 12px;
            transition: all 0.3s ease-in-out;
            svg {
                width: 20px;
                height: 20px;
                vertical-align: baseline;
                path {
                    transition: all 0.3s ease-in-out;
                }
            }
            span {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #465a69;
                transition: all 0.3s ease-in-out;
            }
        }
        ul {
            display: none;
            background: #fff;
            position: absolute;
            border-radius: 4px;
            padding: 12px;
            min-width: 162px;
            bottom: 40px;
            right: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.16);
            margin: 0;
            li {
                list-style: none;
                font-size: 15px;
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
                a {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        padding-left: 4px;
                        .text {
                            color: #008ecf;
                        }
                    }
                    .icon {
                        svg {
                            width: 24px;
                            height: 24px;
                            vertical-align: baseline;
                        }
                    }
                    .text {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 17px;
                        color: #465a69;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
