@import "../../styles/variables.scss";
.searchWrap {
  position: relative;
  display: flex;
  align-items: center;
  @media (min-width: 1023px) {
    margin-left: 24px;
    width: 377px;
  }
}
.btn-search {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  right: 0;
  width: 85px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.69569 18.3914C14.4982 18.3914 18.3914 14.4982 18.3914 9.69569C18.3914 4.89319 14.4982 1 9.69569 1C4.89319 1 1 4.89319 1 9.69569C1 14.4982 4.89319 18.3914 9.69569 18.3914Z' stroke='%231c2b33' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.8479 15.8477L26.0001 25.9999' stroke='%231c2b33' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  z-index: 22;
  height: 56px;
  transition: all 0.3ms ease-in-out;

  &.deactive {
    @media (max-width: 1023px) {
      display: none;
      transition: all 0.3ms ease-in-out;
    }
  }
}

.search-form {
  border: 1px solid #e3e5e7;
  width: 100%;
  margin: 0;
  input[type="submit"] {
    display: none;
  }
}

.search-form > input.search-form-input {
  height: 56px;
  padding-right: 85px;
  padding-left: $gutter;
  border: none;
  background-color: $white;
  color: $gray-darkest;
  @media (max-width: 1023px) {
    width: 100%;
  }
  &::placeholder {
    color: $gray-darkest;
  }
  &:focus,
  &:active {
    outline: none;
  }
}

.search-form > input.search-form-submit {
  display: none;
}

.result {
  width: 100%;
  top: calc(100% - 20px);
  padding: 0;
  position: absolute;
  list-style: none;
  z-index: 999;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: $white;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(60, 64, 67, 0.3), 0 3px 3px 1px rgba(60, 64, 67, 0.15);
  right: 0;
  display: flex;
  flex-direction: column;
  color: $white;
  border-top: 1px solid #e3e5e7;
  margin: 0;
  @media (max-width: 1023px) {
    top: 100%;
  }
  li {
    border-bottom: 1px solid #e3e5e7;
    display: flex;
    flex-direction: column;
    margin: 0;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      color: $gray-lightest;
    }
    span {
      font-size: 18px;
      font-weight: 500;
      padding: 0;
    }
    a {
      padding: 12px $gutter;
      display: block;
      font-weight: 500 !important;
      color: $black !important;
      font-size: 17px;
      text-align: left;
      &:hover {
        color: $blue-bright !important;
      }
    }
    &.noresult {
      padding: 12px $gutter;
      display: block;
      font-weight: 700 !important;
      color: $black !important;
      font-size: 18px;
    }
  }
  li:last-child {
    border-bottom: 0;
  }
}
.hamburger {
  &.active {
    & ~ .btn-search {
      display: none;
    }
  }
}
