.contribute-page {
    h1,
    h2 {
        text-wrap: balance;
    }
    section {
        & > div {
            padding: 0;
        }
    }
    & > div {
        align-items: center;
        gap: 24px;
        justify-content: space-between;
        display: flex;
    }
    &.even {
        & > div {
            flex-direction: row;
        }
    }
    &.odd {
        & > div {
            flex-direction: row-reverse;
        }
    }
    .card-image {
        padding: 32px;
        border-radius: 8px;
        border: 1px solid #e3e5e7;
        img {
            max-width: 100%;
        }
    }
    .btn-with-icon {
        display: flex;
        padding: 11px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 2px;
        background: #008ecf;
        color: #fff;
        width: fit-content;
        &:hover {
            background-color: #007fba;
        }
    }
    .cta {
        border-radius: 8px;
        border: 1px solid #e3e5e7;
        background: #f8f9fb;
        padding: 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        text-align: center;
        h2 {
            margin: 0 0 12px 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .pinnedwrap {
        border-bottom: 1px solid #e3e5e7;
        .pinned-image {
            img {
                @media (max-width: 1023px) {
                    max-height: 198px;
                }
            }
        }
    }
    .pinnedwrap,
    .contribute-section {
        & > div {
            display: flex;
            gap: 24px;
            align-items: center;
            @media (max-width: 1023px) {
                flex-direction: column;
            }
            & > div {
                width: calc(50% - 12px);
                @media (max-width: 1023px) {
                    width: 100%;
                }
            }
            .pinned-image,
            .card-image {
                padding: 32px;
                border-radius: 8px;
                border: 1px solid #e3e5e7;
                display: grid;
                place-content: center;
            }
        }
    }
    .contribute-section {
        &.odd {
            & > div {
                flex-direction: row-reverse;
                @media (max-width: 1023px) {
                    flex-direction: column;
                }
            }
        }
        p {
            margin-bottom: 0;
        }
        .card-image {
            img {
                max-height: 298px;
                @media (max-width: 1023px) {
                    max-height: 198px;
                }
            }
        }
        ol {
            padding: 0 0 0 18px;
            margin: 0;
            li {
                line-height: 32px;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
